.chat-room-container{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.room-name{
    margin-top: 0;
}

.received-message{
    background-color: #c2c2c2;
    margin-right: auto;
}

.send-message-button{
    font-size: 28px;
    font-weight: 600;
    color: white;
    background-color: #31a24c;
    padding: 24px 12px;
    border: none;
}